html,body{
    background: url("../img/body.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.header {
    border-top: 3px solid #97BD47;
    background: url("../img/opacity.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 46px;
    box-shadow: 0 1px 1px #606060;
}
    .header-control {
        float: right;
    }
        .header-control li {
            display: inline-block;
        }

.main-wrapper {
    padding-top: 25px;
    text-align: center;
}
    .content, .navigation {
        display: inline-block;
        *display: inline;
        vertical-align: top;
    }
    .navigation {
        padding: 0 6px;
        box-shadow: 0 1px 1px #606060, 0 1px 1px #2A2A2A inset;
        border-radius: 3px 3px 3px 3px;
        width: 18%;
        background: url("../img/opacity.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    }
        .navigation .item {
            background: url("../img/overlay.png") repeat scroll 0 0%, linear-gradient(to bottom, #68B4DD 0%, #2F86B2 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
            cursor: pointer;
            padding: 10px;
            display: block;
            text-decoration: none;
            position: relative;
            color: #fff;
            font-family: PTSerifBold;
            text-transform: lowercase;
            font-size: 14px;
            font-weight: bold;
            margin: 5px 0;
            border-radius: 2px;
        }
            .navigation .item img {
                position: absolute;
                left: 15px;
            }
        .navigation .item:hover{
            opacity: 0.9;
        }
        .item + .add-record {
            background: url("../img/overlay.png") repeat scroll 0 0%, linear-gradient(to bottom, #504B71 0%, #453D5B 50%, #5A5B87 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);

        }
        .item + .excel {
            background: url("../img/overlay.png") repeat scroll 0 0%, linear-gradient(to bottom, #24713c 0%, #1c711a 50%, #378747 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        }
    .content {
        display: inline-block;
        *display: inline;
        width: 71%;
        padding: 0 15px;
    }

.control-section-outer, .data-section-outer {
    background: url("../img/opacity.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px #606060, 0 1px 1px #2A2A2A inset;
    padding: 6px;
    margin-bottom: 15px;
}
.control-section-inner {
    background: url("../img/overlay.png") repeat scroll 0 0%, -moz-linear-gradient(center top , #EC795D 0%, #D1573A 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 1px #333333;
    padding: 9px 35px 8px;
}
.data-section-inner {
    background: url("../img/content.png");
    border-radius: 1px;
    padding: 6px;
}
.customer-info, .order-info {
    padding: 15px 0;
}
    .customer-info input, .customer-info textarea, .order-info input, .order-info textarea{
        text-align: center;
        border: 1px solid #B9C4DA;
        border-radius: 3px;
        padding: 5px;
        width: 220px;
        margin: 6px 0 5px;
        font-family: PTSerifRegular;
        font-size: 14px;
    }

    .customer-info textarea {
        resize: none;
        height: 80px;
    }

.info-group {
    display: inline-block;
    *display: inline;
    width: 49.5%;
    vertical-align: top;
    text-align: center;
}
.info-item {
    width: 85%;
    padding-right: 5%;
    margin: 8px 0;
    display: inline-block;
    *display: inline;
    position: relative;
    text-align:right;
    height: 40px;
}
    .info-item label {
        font-family: PTSerifBold;
        color: #36638E;
        position: absolute;
        left: 0;
        text-transform: capitalize;
        font-size: 14px;
        line-height: 40px;
    }
    .info-item label[for="address"] {
        line-height: 90px;
    }

.description, .media-area {
    display: inline-block;
    *display: inline;
    vertical-align: top;
}
.media-area {
    width: 45%;
}
    .media-item {
        display: inline-block;
        *display: inline;
        vertical-align: top;
        width: 60%;
        border-radius: 3px 3px 3px 3px;
    }
        .media-item .image {
            width: 220px;
            background: url("../img/no-image.png") center center;
            box-shadow: 0 1px 1px #606060, 0 1px 1px #2A2A2A inset;
            height: 220px;
            margin: 0 auto;
        }
.description {
    width: 45.5%;
}
    .description input {
        width: 415px;
        text-align: center;
        margin-bottom: 15px;
    }
    .description textarea {
        width: 395px;
        height: 140px;
        resize: none;
        padding: 10px;
    }

.submit {
    border-top: 1px dashed #606060;
    margin-top: 15px;
    padding-top: 10px;
}
.order-form {
    padding: 15px 0;
}
.customer-title {
    font-family: PTSerifRegular;
    font-weight: bold;
    border-bottom: 1px solid #B9C4DA;
    width: 500px;
    margin: 0 auto 15px;
    padding-bottom: 7px;
    color: #36638E;
}

.add-address, .add-description, .add-track-number{
    position: relative;
    width: 250px;
    text-align: center;
    margin: 0 auto;
}
.add-track-number {
    width: 330px;
    margin-left: 115px;
}
.add-address img , .add-description img, .add-track-number img{
    height: 35px;
    position: absolute;
    left: 0;
}
.add-track-number img {
    left: 76px;
}
.button{
    width: 160px;
    margin: 8px 0;
    border: 0;
    background: none;
    cursor: pointer;
    font-family: PTSerifRegular;
    font-size: 14px;
    font-weight: bold;
    color: #36638E;
    padding: 0;
    border-bottom: 2px dotted #B9C4DA;

}
button.track-number {
    width: 250px;
    text-align: right;
    border: 0;
}
.add-address button:hover {
    border-color: #36638E;
}
#address-area, #description-area {
    display: none;
    text-align: left;
    font-family: PTSerifRegular;
    color: #000;
    font-size: 14px;
    margin-top: 15px;
    width: 350px;
}
#track-number-area {
    padding: 3px;
    margin: 15px 0 -5px -3px;
    width: 245px;
    float: left;
    font-weight: bold;
}
button.form-control {
    font-family: PTSerifBold;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    margin: 0 10px;
    border-radius: 5px;
    padding: 6px;
    border: 1px solid #D1573A;
    border: 0;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 1px 1px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 1px 1px rgba(50, 50, 50, 1);
}
button.form-control:hover {
    /*opacity: 0.9;*/
    -webkit-box-shadow: 0px 0px 1px 1px rgba(50, 50, 50, 0.6);
    -moz-box-shadow:    0px 0px 1px 1px rgba(50, 50, 50, 0.6);
    box-shadow:         0px 0px 1px 1px rgba(50, 50, 50, 0.6);
}
button#save{
    background: url("../img/overlay.png") #65a028;
}
button#goto {
    background: url("../img/overlay.png") #4077aa;
}
.shipment {
    border-top: 2px dotted #36638E;
    padding-top: 15px;
    margin-top: 10px;
}
#add-shipment-item {
    font-family: PTSerifBold;
    font-weight: bold;
    font-size: 14px;
    border-bottom: 1px solid #36638E;
    color: #36638E;
    cursor: pointer;
}
.shipment-item-deactivated {
    display: none;
}
.shipment-item {
    background: url("../img/overlay.png") #fff;
    border: 1px dotted #D1573A;
    width: 95%;
    margin: 0 auto 15px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(50, 50, 50, 0.35);
    -moz-box-shadow:    0px 0px 5px 2px rgba(50, 50, 50, 0.35);
    box-shadow:         0px 0px 5px 2px rgba(50, 50, 50, 0.35);
    position: relative;
}
.delete-item {
    font-weight: bold;
    position: absolute;
    right: 5px;
    top: 5px;
    color: #D1573A;
    border: 1px dashed #D1573A;
    padding: 0 2px 0 1px;
    cursor: pointer;
}
.delete-item:hover {
    opacity: 0.95;
}
    .shipment-item .media, .shipment-item .info, .shipment-item .desc {
        display: inline-block;
        *display: inline;
        vertical-align: top;
        margin: 10px;
        padding-top: 5px;
        font-family: PTSerifRegular;
    }
    .shipment-item .media {
        width: 190px;
        height: 250px;
    }
    .shipment-item .info {
        /*border: 3px dotted #D1573A;*/
        border-top: none;
        border-bottom: none;
    }
    .shipment-item .info .cart-item{
        position: relative;
        padding-left: 100px;
        margin-bottom: 20px;
    }
        .shipment-item .info input {
            width: 200px;
        }
        .shipment-item .info label {
            position: absolute;
            left: 0;
            top: 13px;
            width: 100px;
            color: #D1573A;
            font-family: PTSerifBoldItalic;
            font-size: 14px;
        }
    .shipment-item .media .image-view {
        background: url("../img/no-image.png") center center;
        width: 190px;
        height: 190px;
        margin: 0 auto;
        border: 2px solid #D1573A;
    }
#add-shipment-item:hover {
    color: #315980;
    border-color: #274867;
}
.addImage {
    margin-top: 20px;
    font-family: PTSerifBold;
    color: #D1573A;
    cursor: pointer;
}
textarea.item-description-area {
    text-align: left;
    width: 250px;
    height: 130px;
    resize: none;
    margin-left: 10px;
}
label[for="item-description-area"] {
    display: block;
    font-family: PTSerifBoldItalic;
    font-size: 14px;
    color: #D1573A;
}

.loginArea{
    border-top: 3px solid #97BD47;
}
#formWrapper, #DbList {
    width: 400px;
    height: 250px;
    position: absolute;
    left: 50%;
    top: 45%;
    margin-left: -200px;
    margin-top: -125px;
    background: url("../img/opacity.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 3px 3px 3px 3px;
    padding: 6px;
    box-shadow: 0 1px 1px #606060, 0 1px 1px #2A2A2A inset;

}
#loginForm {
    width: 100%;
    height: 100%;
}
.formTitle {
    display: block;
    text-align: center;
    font-family: PTSerifRegular;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    text-transform: capitalize;
    background: url("../img/overlay.png") repeat scroll 0 0%, linear-gradient(to bottom, #504B71 0%, #453D5B 50%, #5A5B87 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 10px 0;
    margin-bottom: 40px;
}
.formInput {
    background: #fff;
    margin: 10px auto;
    padding: 5px;
    width: 80%;
    border-radius: 5px;
    position: relative;
}
.formSubmit, .DbSubmit {
    background: url("../img/overlay.png") repeat scroll 0 0%, -moz-linear-gradient(center top , #EC795D 0%, #D1573A 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 5px 0;
    margin-top: 40px;
    text-align: center;
}
.formSubmit input, .DbSubmit input{
    cursor: pointer;
    padding: 0 15px;
    font-family: PTSerifRegular;
    font-size: 16px;
    font-weight: bold;
}
.formInput img {
    position: absolute;
    width: 28px;
    right: 15px;
}
.formInput input {
    width: 240px;
    height: 25px;
    text-align: center;
    font-family: PTSerifBold;
    font-size: 16px;
}
#DbList {
    width: 700px;
    height: 400px;
    margin-top: -190px;
    margin-left: -350px;
    padding: 15px;

}
#DbListInner {
    height: 100%;
    background: url("../img/content.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 4px;
    opacity: 0.95;
    position: relative;
}
    #DbListInner .title {
        text-align: center;
        padding-top: 25px;
        font-family: PTSerifRegular;
        font-size: 20px;
        font-weight: bold;
        color: #36638E;
        border-bottom: 1px solid #B9C4DA;
        width: 500px;
        margin: 0 auto;
        padding-bottom: 10px;
    }

.DbList {
    width: 300px;
    margin: 20px auto 0;
    list-style-type: none;
    max-height: 200px;
    overflow-y: scroll;
    margin-bottom: 200px;
}
.DbList li {
    color: #36638E;
    font-family: PTSerifBold;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 30px;
    padding: 10px 10px 0 50px;
    border-bottom: 3px dotted #606060;
    cursor: pointer;
    position: relative;
}
.DbList li img.ok {
    position: absolute;
    width: 20px;
    left: 0;
    top: 15px;
    display: none;
}
.DbList li .delete {
    position: absolute;
    z-index: 9999;
    display: block;
    bottom: 0;
    right: 10px;
}
.DbList li .delete:hover{
    opacity: 0.8;
}
    .DbList li .delete span, .DbList li .delete img {
        display: inline-block;
        *display: inline;
        vertical-align: middle;
    }
    .DbList li .delete span {
        font-family: PTSerifBold;
        font-size: 12px;
        font-weight: bold;
        text-transform: lowercase;
        margin-right: 5px;
        color: #c80318;
    }
    .DbList li .delete img {
        width: 15px;
    }
.DbList li img.delete:hover {
    opacity: 0.85;
}
.addBase {
    width: 300px;
    margin: 0 auto;
    position: absolute;
    bottom: 70px;
    left: 50%;
    margin-left: -150px;
}
    .addBase button {
        position: absolute;
        left: 2px;
        top: 2px;
        height: 36px;
        font-family: PTSerifRegular;
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 3px 2px rgba(50, 50, 50, 0.7);
        -moz-box-shadow:    0px 0px 3px 2px rgba(50, 50, 50, 0.7);
        box-shadow:         0px 0px 3px 2px rgba(50, 50, 50, 0.7);

    }
    .addBase input {
        padding: 6px 0;
        text-align: center;
        display: block;
        width: 164px;
        padding-left: 130px;
        font-family: PTSerifBold;
        font-size: 16px;
    }
    .DbSubmit {
        position: absolute;
        bottom: 0;
        width: 100%;
    }